@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600&family=Roboto+Mono:wght@200;400;500;700&display=swap");

.home {
  background-color: pink;
  height: 100vh;
}

.title {
  font-size:30px;
  background: #4449cf;
  background: linear-gradient(
    circle farthest-corner at center center,
    #4449cf 0%,
    #4d96cf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description{
    font-size:medium;
    margin: auto;
    height: auto;
    max-width: 600px;
    color: #175483;
    text-shadow: 1px 1  px rgb(232, 195, 195);

   
}

.arrow{
  
}

.createBtn{
  font-family: "Caveat", cursive;
  font-family: "Roboto Mono", monospace;
  color: white;
  background-color: #d98de3;
  border-radius: 25px;
  border: 5px solid #1754834c;
  display: block;
  width: 30%;
  margin: auto;
  font-size: 30px;
  cursor: pointer;
  padding: 14px 28px;
}

.createBtn:hover{
  color: #000000;
  background-color: #59d5fb ;
  border-color: #f1f151;
}


@media screen and (max-width: 600px){
    .description{
        max-width: 350px;
    }
}

.fade-in {
  animation: fadeIn 500ms ease-in;
}
.fade-out {
  animation: fadeOut 500ms ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}