@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;500;700&display=swap');

.view {
  background-color: rgb(54, 85, 209);
}

h2,h3,p{
  margin: 0;
  padding: 0;
}

.toDoList {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  
}

.toDo {
  overflow: hidden;
  border-radius: 10px;
  width: 50%;
  background-color: white;
}

.line{
  border-bottom: 2px solid #555;
  display: block;
}

.toDoTitle{
  background-color: cyan;
}

.toDoDate{
  font-size: small;
}