.card{
    padding-top: 10vh;
    height: 90vh;
    background-color: cadetblue;
}
.form {
  width: 40rem;
  padding: 50px 0;
  margin: auto;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
}

label {
  font-size: larger;
}

input {
  margin: 5px;
  padding: 5px 5px;
}

input[type="text"] {
  margin: 5px;
  padding: 5px 5px;
  width: 50%;
}

